.list-item-property {
  margin-right: 30pt;
  background-color: lightgray;
  border-radius: 5%;
  border: 1px solid black;
}
table {
  width: 100%;
}
.group-control-btn {
  margin: 0 5pt;
}
#create-group-btn {
  margin-bottom: 10pt;
}
